.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .text {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
  }

  button {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
  }

  button:hover{
    cursor: pointer;
    background-color: #61dafb;
  }

  .Messanger_Block{
    display: flex;

  }

  .formArea{
    display: flex;

  }

  .list{
    margin-right: 20px;
    width: 10%;
  }

  .chat {
    width: 90%;
  }

  .item{
    outline: 1px solid gray;
  }

  .item:hover{
    background-color:hotpink;
    cursor: pointer;
  }

